#announce {
    background-color: rgb(70, 70, 70);
    border-radius: 10px;
    color: white;
    min-width: 600px;
    padding: 2rem;
    width: 60vw;
}

#announceList::-webkit-scrollbar {
    width: 10px;
}

#announceList::-webkit-scrollbar-thumb {
    border-radius: 8px;
}

#announceList {
    border-top: 1px solid white;
    height: 50vh;
    overflow-y: scroll;
}

#announce h1 {
    font-size: 2.5rem;
}

#announce li {
    margin-top: 30px;
    font-size: 1.5rem;
    text-align: left;
}

#announce li > p {
    font-weight: normal;
    margin-top: 0.5em;
}

#announce li > strong {
    font-size: 2rem;
}

#announceList {
    overflow-y: auto;
}

@media (hover: none), (pointer: coarse) {
    #announceList {
        min-height: 90%;
    }
    #announce {
        min-width: 90vw;
    }
    #announce h1 {
        font-size: 2rem;
    }
    #announce li {
        font-size: 1.25rem;
    }
    #announce li > strong {
        font-size: 1.5rem;
    }
    #announce .spacedModalHeader {
        flex-direction: column-reverse;
    }
    #announce .invisible {
        display: none;
    }
}