.removeBoxShadow {
    box-shadow: none !important;
}

.ui.grid>.column:not(.row) {
    padding: 0.5em 1em;
}

.ui.card>.content {
    padding: 0.5em 1em;
}

.ui.fluid.card {
    background-color: var(--background-clr);
    color: var(--clr-txt);
}
p.ui.container {
    color: var(--clr-txt);
}

.numCardsShown {
    font-size: 1.2em;
}