.circular.ui.icon.button.flipButton {
    position: absolute;
    top: 47%;
    left: 10%;
    opacity: 70%;
    transition: left 0.75s, opacity 0s ;
}

.circular.ui.icon.button.flipButton:hover {
    opacity: 100%;
}

.circular.ui.icon.button.flipButton.front {
    left: 75%;
}

.bouncy.column {
    perspective: 500px;
}

.card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.backside {
    transform: rotateY(-180deg)
}

.image {
    transition: 1s;
    transform-style: preserve-3d;
}

.flipped {
    transform: rotateY(-180deg);
}