.removeBoxShadow {
    box-shadow: none !important;
}

.ui.card>.content {
    padding: 0.5em 1em;
}

.ui.fluid.card {
    background-color: transparent;
    color: var(--clr-txt);
}

p#displayingNumberCards {
    color: var(--clr-txt);
    margin: 0 40px;
}

.numCardsShown {
    font-size: 1.2em;
}

.bouncy.column:hover, .bouncy.column:focus-visible {
    cursor: pointer;
    transform: translateY(-3px);
}

.cardList-cards .lazyLoad {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    gap: 0px 10px;
    margin: 0;
}

.cardList-cards .bouncy.column {
    width: 225px;
}

@media only screen and (max-width: 526px) {
    .bouncy.column:hover {
        cursor: default;
        transform: none;
    }

    .cardList-cards>.bouncy.column {
        max-width: 300px;
        width: 85%;
    }
}