.basic.button.icon.massive.ui {
    color: aliceblue !important;
    height: 100%;
    margin-right: 0;
    vertical-align: bottom;
}

.basic.button.icon.massive.ui:hover {
    color: black !important;
}

@media (hover: none), (pointer: coarse) {
    .basic.button.icon.massive.ui {
        color: aliceblue !important;
        background-color: transparent !important;
    }
    
    .basic.button.icon.massive.ui:hover {
        color: aliceblue !important;
    }

    .basic.button.icon.massive.ui:active {
        color: black !important;
        background-color: aliceblue !important;
    }
}

/* Disabled for first or last card */
.basic.button.icon.massive.ui.disabled {
    opacity: 0;
}

.basic.button.icon.massive.ui.disabled:hover {
    opacity: 0;
    cursor: default;
}

.modalClose {
    height: 10%;
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
}

.modalContent {
    display: flex;
    height: 90%;
    perspective: 700px;
}

.cardImage {
    flex-basis: 80%;
    position: relative;
}

.cardImage img {
    max-width: 100%;
    max-height: 90vh;
}

.backButton, .forwardButton {
    flex-basis: 10%;
}

.modalContent > .cardImage > button.circular.ui.icon.button.flipButton {
    position: absolute;
    top: 50.3%;
    left: 85%;
}

#modalImage, #flipButton {
    transition: 0s;
    transform-style: preserve-3d;
}