.colorBoxInputLabel {
    margin: 0 0 0 0.3em;
    text-transform: capitalize;
}

.colorBoxInput {
    margin-left: 1em;
}

.colorBoxLabel {
    margin-right: 1em;
}

.colorBox {
    padding: 1em 0;
}

.colorList {
    padding-top: 0.5em;
}