.colorBoxInputLabel {
    margin: 0 0 0 0.3em;
    text-transform: capitalize;
}

.colorBoxInput {
    margin-left: 1em;
}

.colorBoxLabel {
    margin-right: 1em;
}

.colorBox {
    padding: 1em 0;
}

.colorList {
    padding-top: 0.5em;
}

.colorIcon {
    width: 2.5em;
    transition-duration: 150ms;
    border: 2px solid black;
    border-radius: 50%;
}

.big.colorIcon {
    width: 4em;
    transition-duration: 150ms;
}

.colorList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.DisplayOptions .colorList {
    justify-content: flex-start;
    margin-left: 1rem;
}

.colorCheckbox {
    width: 4.2em;
    height: 4em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.colorBoxInput {
    display: none;
}

.colorIcon:hover, .colorIcon:focus {
    width: 4em;
    transition-duration: 150ms;
    outline: none;
}

.colorIcon:hover {
    cursor: pointer;
}

/* Proper icon resizing on touch screens */
@media (hover: none), (pointer: coarse) {

    .colorIcon {
        transition-duration: 0;
    }

    .colorIcon:not(:focus) {
        width: 2.5em;
    }

    .big.colorIcon {
        width: 4em;
    }
}