.ui.fitted.toggle.checkbox input:checked ~ label:before {
    background: #21BA45 !important;
}

.sun.icon, .moon.icon {
    margin: 0 0.5em 0.2em !important;
}

.darkmodeToggle {
    display: flex;
    align-items: center;
    justify-content: center;
}