.DBCardFilters {
    font-size: 0.8rem;
}

.DBCardFilters .reset-button {
    font-size: 1em;
}

.DBCardFilters .advancedAndReset {
    display: flex;
    justify-content: center;
}

.DBCardFilters .colorBox {
    padding-bottom: 0;
}

.addBasics {
    border-radius: 5px;
    color: var(--clr-txt-inverse);
    font-size: 1.2em;
    margin-bottom: 0.5em;
    margin-left: 35px;
    padding: 0.5em 1em;
}

.addBasics:hover {
    cursor: pointer;
    filter: brightness(0.9);
}

.addBasics:not(.active):hover, .addBasics.active {
    background-color: #21ba45;
    color: #FFF
}
