.DBCardFilters {
    font-size: 0.8rem;
}

.DBCardFilters .reset-button {
    font-size: 1em;
}

.DBCardFilters .advancedAndReset {
    display: flex;
    justify-content: center;
}

.DBCardFilters .colorBox {
    padding: 0;
}

.addBasics {
    border-radius: 5px;
    color: black;
    font-size: 1.2em;
    margin-bottom: 0.5em;
    margin-left: 35px;
    padding: 0.5em 1em;
    border: 1px solid black;
}

.addBasics:hover {
    cursor: pointer;
    filter: brightness(0.9);
}
/* note that this is the psuedo-selector "active" not the class */
.addBasics:active{
    filter: brightness(0.8);
}   

.addBasics:not(.active):hover, .addBasics.active {
    background-color: #21ba45;
    color: #FFF
}
