#DBDeckOptions {
    font-size: 0.8rem;
    padding-top: 12px;
}

#gameTypeDropDown {
    margin-top: 0.5rem;
    padding-left: 20px;
    text-transform: capitalize;
    width: 180px;
}

#gameTypeDropDown .dropdown-item, #gameTypeDropDown .dropdown-selected {
    padding-left: 7px;
}