#DBDeck {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    gap: 2px;
    min-height: 15%;
    overflow: scroll;
}

.DBDeckColumn {
    display: flex;
    flex-direction: column;
}

.DBDeckCard {
    /* Stacked cards will be this height */
    height: 25px;
}

.DBDeckCard > img {
    /* Only top card will be this height */
    height: 225px;
}