#DBDeck {
    display: flex;
    height: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    max-width: calc(100% - 20px);
    gap: 2px;
    min-height: 15%;
    overflow: auto;
    padding: 3px;
    z-index: 1;
    scrollbar-color: var(--scroll-bar) var(--scroll-area)
}

#DBDeck::-webkit-scrollbar-track {
    background: var(--scroll-area);
}

#DBDeck::-webkit-scrollbar-thumb {
    background-color: var(--scroll-bar);
    border-radius: 8px;
    border: 2px solid var(--scroll-area);
}

.DBDeckColumn {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    position: relative;
    min-width: 159px;
}

.DBDeckCard {
    /* Stacked cards will be this height */
    height: 25px;
    width: 159px;
}
.DBDeckCard:hover{
    cursor: pointer;
}

.DBDeckCard img {
    /* Only top card will be this height */
    height: 225px;
}

#commander_companion {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 159px;
}

#commander_companion img {
    height: 225px;
    width: 159px;
}