#DeckBuilder {
    color: var(--clr-txt);

    /* Temporary Values for "Coming Soon!" text */
    font-size: 4rem;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}