.deckHeader {
    align-items: center;
    background-color: lightgray;
    color: rgba(0,0,0,0.87);
    display: flex;
    justify-content: space-between;
    padding-left: 1rem;
}

.deckHeader .left, .deckHeader .right {
    align-items: center;
    display: flex;
}

.deckHeader .deckCount {
    width: 68px;
}

.deckHeader .sideboardCount {
    width: 96px;
}

.deckHeader .landCount {
    width: 88px;
}

.deckHeader .creatureCount {
    width: 95px;
}

.deckHeader .nonCreatureCount {
    width: 115px;
}

.deck_sideboardToggleLabel {
    padding: 0.2rem 1rem;
}

.addToggle {
    align-items: center;
    cursor: pointer;
    display: flex;
}

.addToggle .ui.toggle.checkbox label:before {
    background: #5151a5 !important;
}

.setComButton {
    cursor: pointer;
    margin-right: 0.5rem;
}