#DeckBuilder {
    color: var(--clr-txt);
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.mainContent {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.dbCardList {
    height: 50%;
    overflow-y: scroll;
    resize: vertical;
}

.slider {
    height: 10px;
    background-color: red;
    cursor: row-resize;    
}

.buffer {
    height: 5px;
}

.dbCardList .bouncy.column {
    width: 160px;
    min-height: 250px;
}