#draftsCalculator {
    color: var(--clr-txt);
    padding-top: 1em;
}

#draftsCalculator hr {
    border: none;
    border-top: 1px solid var(--border-clr);
}

#draftsCalculator h4, h5 {
    margin: 0.5rem 0;
}

#draftsCalculator .ui.simple.dropdown.item {
    text-transform: capitalize;
}

.draftsRequired {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    margin-left: 2rem;
}

.draftsRequired p {
    margin-top: 0;
    margin-bottom: 0;
}

#draftType.item {
    padding: 0;
}

#draftType>div.menu>div.item {
    padding-top: 0.5em !important;
    padding-bottom: 0.5em !important;
}

img.gemImg, img.goldImg {
    width: 1.5rem;
    transform: translateY(3px);
}

.drafttype-dropdown {
    display: flex;
    align-items: center;
    gap: 10px;
}

.drafttype-dropdown .dropdown{
    width: 8em;
    text-transform: capitalize;
}

#draftsCalculator .typeAndWinRate, #draftsCalculator .cardsPicked{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.cardsPicked {
    margin-left: 2rem;
}

#draftsCalculator p {
    margin: 0.5rem 0;
}

#draftsCalculator input[type='number'] {
    font-size: large;
    border: 1px solid var(--clr-txt);
    border-radius: 5px;
}

#notAvailable {
    color: var(--clr-txt);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100% - 42px);
}