#draftsCalculator {
    color: var(--clr-txt);
    padding-top: 1em;
}

#draftsCalculator hr {
    border: none;
    border-top: 1px solid var(--border-clr);
}

#draftsCalculator h4, h5 {
    margin: 0.5rem 0;
}

#draftsCalculator .ui.simple.dropdown.item {
    text-transform: capitalize;
}

.draftRequired, .draftRequired p {
    margin-left: 1.5rem;
}

.draftRequired p {
    margin-top: 0;
    margin-bottom: 0;
}

#draftType.item {
    padding: 0;
}

#draftType>div.menu>div.item {
    padding-top: 0.5em !important;
    padding-bottom: 0.5em !important;
}

img.gemImg, img.goldImg {
    width: 1.5rem;
    transform: translateY(3px);
}
