#footer {
    background-color: var(--clr-prm);
    border-top: 1px solid var(--border-clr) !important;
    box-shadow: 0 1px 2px 0 var(--border-clr);
    color: var(--clr-txt-light);
    margin-top: 3rem;
    padding: 0.5rem;
    text-align: center;
}