.errorMessage {
    color: white;
    font-size: 1.5rem;
    font-weight: normal;
    text-align: start;
    max-width: 85vw;
}

.errorTitle {
    font-size: 2.5rem;
    text-align: center;
}

.errorSubtitle {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
}

.errorSublist {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.errorSublist > * > * {
    margin-top: 1rem;
}

.errorSublist > div > strong {
    display: inline-block;
    width: 8rem;
}

.errorText {
    margin-left: 3rem;;
}

.errorButton {
    border-radius: 8px;
    cursor: pointer;
    height: 4rem;
    margin-left: 2rem;
    opacity: 0.6;
    width: 9rem;
}

.errorButton {
    text-align: center;
}

.errorButton:hover, .errorButton:active {
    opacity: 1;
}

.yourUserName {
    color: yellow;
}

.errorMessage > ul > li > div {
    margin-top: 1rem;
}

#headerModalClose {
    text-align: end;
}

.ui.dimmer {
    background-color: var(--modal-clr);
}

@media screen and (max-width:739px) {
    .errorMessage {
        font-size: 1.0rem;
    }
    .errorTitle {
        font-size: 1.5rem;
    }
}