#header, .rightOptions, .leftOptions {
    align-items: stretch;
    background-color: var(--clr-prm);
    display: flex;
    font-size: 1.1rem;
}

#header {
    border-bottom: 1px solid var(--border-clr) !important;
    box-shadow: 0 1px 2px 0 var(--border-clr);
    justify-content: space-between;
}

#header .heading, #header .heading a {
    color: var(--clr-txt);
}

.heading {
    border-right: 1px solid var(--border-clr) !important;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 3em;
}

/* Don't wrap headings and add padding around most headings */
.heading:not(#uploadLogFile):not(.darkmodeToggle) {
    padding: 0 1rem;
    white-space: nowrap;
}

.heading:hover {
    background-color: var(--clr-prm-focus);
    cursor: pointer;
}

.heading:last-of-type {
    border-right: none;
}

.hamburger.icon {
    display: none;
}

.logo {
    margin-right: 0.5rem;
    width: 2rem;
}

#home {
    font-size: 1.2rem;
    font-family: 'Kadwa', serif;
    font-weight: 400;
    padding: 0 1rem;
}

/*
 Display hamburger menu at mobile sizes 
 - show x when menu expanded and hide menu when hamburger shown 
*/
@media only screen and (max-width: 779px) {
    .hideMenu>*:not(#home) {
        display: none !important;
    }
    
    #header, .leftOptions, .rightOptions {
        flex-direction: column;
    }

    #header {
        border-bottom: none !important;
        box-shadow: none;
    }

    .hamburger.icon {
        display: flex;
        align-self: center;
        justify-content: center;
        color: var(--clr-txt);
        font-size: 2em;
        margin: 1.2rem 0 0.4rem;
    }

    #hamburger {
        background-color: var(--clr-prm);
        font-size: 1.1rem;
        display: flex;
        justify-content: center;
        border-bottom: 1px solid var(--border-clr) !important;
        box-shadow: 0 1px 2px 0 var(--border-clr);
    }

    #hamburger:hover {
        background-color: var(--clr-prm-focus);
    }

    .heading {
        border-bottom: 1px solid var(--border-clr) !important;
        border-right: none !important;
        display: flex;
        width: 100%;
    }
}