
.headerDropdown {
    position: relative;
    display: flex;
    flex-direction: column;
}

.dd-title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 3em;
    height: 100%;
    text-align: center;
}

.dd-title.active {
    background-color: var(--clr-prm-focus);
}

a.dd-item {
    color: var(--clr-txt);
    border-bottom: 1px solid var(--border-clr);
    display: block;
    padding: 3px;
    padding-left: 10px;
}

.dd-item:hover {
    background-color: var(--clr-prm-focus);
    cursor: pointer;
    font-size: 1.2rem;
}

.dd-item:last-child {
    border-bottom: none;
}

.dd-items {
    position: absolute;
    background-color: var(--background-clr);
    background-color: var(--clr-prm);
    color: var(--clr-txt);
    width: 15em;
    padding: 0;
    top: 100%;
    left: 0;
    border: 1px solid var(--border-clr);
    z-index: 5;
}

.dd-items.hidden {
    display: none;
}

@media only screen and (max-width:739px) {
    .dd-title.active {
        border-bottom: none !important;
        box-shadow: none;
    }

    .dd-items {
        display: flex;
        width: 100%;
        position: relative;
        top: 0;
        left: 0 !important; 
        flex-direction: column;
        transform: none;
        align-items: center;
        justify-content: center;
        border: none;
    }

    .dd-item {
        color: var(--clr-txt);
        width: 100%;
        text-align: center;
    }

    .dd-item:first-child {
        border-top: 1px solid var(--border-clr);
    }
    .dd-items.hidden {
        display: none;
    }
}
