.helpTitle {
    text-align: center;
    color: var(--clr-txt);
}
.helpPage {
    color: var(--clr-txt);
    font-size: 1.15rem ;
}

.helpPage>div {
    margin-top: 30px;
    border-bottom: solid 1px var(--clr-txt);
    padding-bottom: 8px
}

.detailedLogImages {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px 50px;
}

.detailedLogImages > img {
    width: 280px;
}

li {
    margin: 30px auto;
}

.contactInfo {
    background-color: yellow;
    color: black;
}

.FAQList {
    width: 60%;
}

