.helpTitle {
    text-align: center;
    color: var(--clr-txt);
}
.helpPage {
    color: var(--clr-txt);
    font-size: 1.15rem ;
}

.helpPage>div {
    margin-top: 30px;
    border-bottom: solid 1px var(--clr-txt);
    padding-bottom: 8px
}

.detailedLogImages, .uploadLogImages {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px 50px;
}

.uploadLogImages > img {
    width: 500px;
}

.detailedLogImages > img {
    width: 280px;
}

li {
    margin: 30px auto;
}

.errorMessage.helpErrorText {
    color: var(--clr-txt);
    font-weight: bold;
    font-size: 1em;
    margin-left: 50px;
}

.errorMessage.helpErrorText span.yourUserName {
    color: blue;
}

.darkMode .errorMessage.helpErrorText span.yourUserName {
    color: yellow;
}

li>ul>li {
    margin: 12px auto;
    font-size: 95%;
}

#contact_discord {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-shrink: 0;
}

#contact_discord > a {
    margin-left: auto;
}