#standardToggle {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 1rem 2rem;
}

#standardLabel, #historicLabel {
    color: var(--clr-txt);
    font-family: 'Kadwa', serif;
    font-weight: 400;
    margin: 0 0.5rem;
    padding-top: 0.15rem;
}

.ui.fitted.toggle.checkbox#labelColorStandardToggle input:not(:checked) ~ label:before {
    background: var(--border-clr) !important;
}

.homePage {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.homeTitle {
    color: var(--clr-txt);
    font-family: 'Kadwa', serif;
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 25px;
    text-align: center;
}

.cardSetList {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin: 0 6% 25px;
}

.cardSetList > .ui.link.card {
    border-radius: 20px;
    height: 400px;
    margin: 0;
}
