#importExportButtons {
    display: flex;
    justify-content: center;
}

.importExportButton {
    background-color: #5151a5;
    border: none;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    margin: 1rem 0.7rem;
    padding: 0.5em;
}

.importExportButton:hover {
    filter: brightness(0.9);
}

.importExportButton:active {
    filter: brightness(0.8);
}

.importExportModal {
    background-color: rgb(70, 70, 70);
    border-radius: 10px;
    color: var(--clr-txt);
    padding: 2rem;
    height: 80vh;
    width: 60vw;
}

#importExportContent {
    display: flex;
    flex-direction: column;
}

#importExportContent h3 {
    align-self: flex-start;
}

#fileOrClipboardButtons {
    display: flex;
    flex-direction: row;
    align-self: center;
}

#fileOrClipboardButtons button {
    border-radius: 5px;
    margin: 0.5rem;
    padding: 0.5rem;
    width: 11rem;
}

#fileOrClipboardButtons button:hover {
    cursor: pointer;
    opacity: 0.8;
}

#deckPreview {
    background-color: white;
    color: black;
    height: 50vh;
    padding: 2rem;
    overflow-y: auto;
    resize: none;
    text-align: left;
    white-space: pre-wrap;
}
