.multi-dropdown {
    color: var(--clr-txt);
    position: relative;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.multi-dropdown .selected {
    padding: 2.5px;
    border: 1px solid var(--clr-txt);
}

.multi-dropdown .selected:not(.active) {
    border-radius: 5px;
}

.multi-dropdown .selected.active {
    background-color: var(--clr-prm-focus);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.multi-dropdown .selected:hover , .multi-dropdown .multi-option:hover {
    background-color: var(--clr-prm-focus);
}

.options.active {
    display: block;
}

.multi-dropdown .options:not(.active) {
    display: none;
}

.multi-dropdown .options {
    background-color: var(--background-clr);
    border: 1px solid var(--clr-txt);
    border-top: none;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    left: 0;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 10;
}

.multi-dropdown .options .multi-option {
    border-bottom: 1px solid var(--clr-txt);
    padding: 2.5px;
}

.multi-dropdown .options .multi-option:last-child {
    border-bottom: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.multi-dropdown .selected .icon.chevron {
    float: right;
}
