#collectionItem{
    padding: 1.5em;
    color: var(--clr-txt); 
    text-transform: capitalize;
}

.mtgIcon {
    padding: 0 0.1em;
    font-size: 1.5em;
}

.rarityText {
    padding: 0 0.5em;
}

.ui.middle.aligned.divided.list .item#collectionItem {
    border-top: 1px solid var(--border-clr);
}

.ui.middle.aligned.divided.list .item#collectionItem:first-of-type {
    border-top: none;
}