.ui.button.rarityButton {
    font-size: 1em;
    font-weight: bold;
    margin: 0.5em 0.3em;
    padding: 0.5em;
    text-transform: capitalize;
    width: 6em;
}

    /* - Mythic */
    .ui.button.rarityButton.mythic {
        background-color: var(--mythic);
    }

    .ui.button.rarityButton.mythic.basic {
        color: var(--mythic) !important;
        box-shadow: 0 0 0 1px var(--mythic) inset !important;
    }
    
    .ui.button.rarityButton.mythic.basic:focus,
    .ui.button.rarityButton.mythic.basic:hover {
        background-color: var(--mythic-o) !important;
        color: var(--clr-txt) !important;
    }

    /* - Rare */
    .ui.button.rarityButton.rare {
        background-color: var(--rare);
    }

    .ui.button.rarityButton.rare.basic {
        color: var(--rare) !important;
        box-shadow: 0 0 0 1px var(--rare) inset !important; 
    }

    .ui.button.rarityButton.rare.basic:focus,
    .ui.button.rarityButton.rare.basic:hover {
        background-color: var(--rare-o) !important;
        color: var(--clr-txt) !important;
    }

    /* - Uncommon */
    .ui.button.rarityButton.uncommon {
        background-color: var(--uncommon);
    }

    .ui.button.rarityButton.uncommon.basic {
        color:var(--uncommon) !important;
        box-shadow: 0 0 0 1px var(--uncommon) inset !important
    }

    .ui.button.rarityButton.uncommon.basic:focus,
    .ui.button.rarityButton.uncommon.basic:hover {
        background-color: var(--uncommon-o) !important;
        color: var(--clr-txt) !important;
    }

    /* - Common */
    .ui.button.rarityButton.common {
        background-color: var(--common);
        color: var(--clr-txt-inverse);
    }

    .ui.button.rarityButton.common.basic {
        color: var(--clr-txt) !important;
        box-shadow: 0 0 0 1px var(--common) inset !important;
    }

    .ui.button.rarityButton.common.basic:focus,
    .ui.button.rarityButton.common.basic:hover {
        background-color: var(--common-o) !important;
        color: var(--clr-txt-inverse) !important;
    }

    /* - All */
    .ui.button.rarityButton.all {
        background-color: var(--primary);
    }

    .ui.button.rarityButton.all.basic {
        color:var(--primary) !important;
        box-shadow: 0 0 0 1px var(--primary) inset !important
    }

    .ui.button.rarityButton.all.basic:focus,
    .ui.button.rarityButton.all.basic:hover {
        background-color: var(--primary-o) !important;
        color: var(--clr-txt) !important;
    }
/*----------------------------------------------------------  */

/* Rarity button div */
.showList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.DisplayOptions .showList {
    display: block;
    margin-left: 1.5rem;
}
