#collectionItem{
    padding: 1.5em;
    color: var(--clr-txt); 
    text-transform: capitalize;
}

.mtgIcon {
    padding: 0 0.1em;
    font-size: 1.5em;
}

.ss-common {
    color: var(--common);
}

.rarityContainer {
    /* Keep text and numbers separate, center text & icon, and properly wrap */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.rarityText {
    /* Prevent text from wrapping */
    flex-shrink: 0;
    /* Maintain space from .rarityNumber */
    margin-right: 0.5em;
}

.rarityNumber {
    /* Prevent text from wrapping */
    flex-shrink: 0;
    /* Keep numbers on right side */
    margin-left: auto;
}

.ui.middle.aligned.divided.list .item#collectionItem {
    border-top: 1px solid var(--border-clr);
}

.ui.middle.aligned.divided.list .item#collectionItem:first-of-type {
    border-top: none;
}