.searchBar {
    box-sizing: border-box;
    border: none;
    outline: none;
    border-radius: 2rem;
    margin: 1.5em 0;
    padding: 0.5em 2em;
    height: 3.2em;
    width: 100%;
}

.clearSearchBar {
    position: absolute;
    top: 35%;
    border-radius: 50%;
    border: none;
    width: 2em;
    height: 2em;
}

.clearSearchBar {
    right: calc(7em + 15px );
}

.clearSearchBar:hover {
    cursor: pointer;
    filter: brightness(0.8);
}

div.search {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
}

.search .dropdown-selected {
    width: 7em;
}

.search .dropdown-selected::before {
    content: 'Search Type: ';
    font-size: 110%;
}