.searchBar {
    box-sizing: border-box;
    border: none;
    outline: none;
    border-radius: 2rem;
    margin: 1.5em 0;
    padding: 0.5em 2em;
    height: 3.2em;
    width: 100%;
}

.clearSearchBar, .clearSearchBarSimple {
    border-radius: 50%;
    border: none;
    display: flex;
    height: 2em;
    position: absolute;
    top: 35%;
    width: 2em;
}

.clearSearchBar {
    right: calc(7em + 15px );
}

.clearSearchBarSimple {
    right: 0.3em;
}

.clearSearchBar:hover, .clearSearchBarSimple:hover {
    cursor: pointer;
    filter: brightness(0.8);
}

div.search {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
}

.search > button > i.close.icon {
    margin: auto;
    width: 1em;
}

.search > button {
    margin-right: 0.4em;
}

.search .dropdown-selected {
    width: 7em;
}

.search .dropdown-item::before {
    content: '   ';
    white-space: pre;
}

.search .dropdown-selected::before {
    content: 'Search: \00000a   ';
    white-space: pre;
    font-size: 110%;
}