.selectSet .options.active {
    height: 20em;
    overflow-y: scroll;
}

.selectSet {
    width: 12em;
}

.selectSet .multi-dropdown {
    margin-top: 7px;
    margin-left: 18px;
}

.selectSet .selected button {
    text-transform: uppercase;
}