.ui.link.card {
    justify-content: center;
}
#setCardHeader {
    color: var(--clr-txt);
    font-family: 'Kadwa', serif;
    font-size: 1.7rem;
    font-weight: 400;
    margin: 3% 0;
}
#setCardHeader>img {
    width: 80%;
}

.ui.center.aligned.sub.header {
    color: var(--clr-txt);
}

.ui.link.card {
    background-color: var(--clr-sec);
    color: var(--clr-txt);
}

.ui.link.card:hover {
    background-color: var(--clr-sec);
    color: var(--clr-txt);
}