.ui.link.card {
    justify-content: center;
}
#setCardHeader {
    margin-top: 5%;
    color: var(--clr-txt);
}
#setCardHeader>img {
    width: 80%;
}

.ui.center.aligned.sub.header {
    color: var(--clr-txt);
}

.ui.link.card {
    background-color: var(--clr-sec);
    color: var(--clr-txt);
}

.ui.link.card:hover {
    background-color: var(--clr-sec);
    color: var(--clr-txt);
}