.setDetailsOptions {
    /* TODO: remove this padding and fix relative layout */
    padding: 3em 0;
}

label {
    color: var(--clr-txt);
}


/* Focus border effects */
div>.ui.button.showButton.basic:focus {
    box-shadow: 0 0 0 2px black !important;
}

div>.ui.button.showButton:focus {
    box-shadow: 0 0 0 2px black !important;
}

div>.ui.button.rarityButton:focus {
    box-shadow: 0 0 0 2px black !important;
}

div>.ui.button.rarityButton.basic:focus {
    box-shadow: 0 0 0 2px black !important;
}


/* Set primary color */
.ui.button {
    --primary:  rgb(33, 133, 208);
    --primary-o:  rgba(33, 133, 208, 0.8);
}


/* Number-owned buttons */
.ui.button.showButton {
    font-size: 1em;
    font-weight: bold;
    height: 3em;
    margin: 0.5em 0.3em;
    padding: 0.1em;
    vertical-align: top;
    width: 6em;
}

.ui.button.showButton:hover, .ui.button.showButton.basic:hover {
    background-color: var(--primary-o) !important;
    color: var(--clr-txt) !important;
}

.showLabel {
    margin-right: 1em;
}

/* Rarity buttons */
.ui.button.rarityButton {
    font-size: 1em;
    font-weight: bold;
    margin: 0.5em 0.3em;
    padding: 0.5em;
    text-transform: capitalize;
    width: 6em;

    /* Regular colors */
    --mythic:   rgb(191, 68, 39);
    --rare:     rgb(165, 142, 74);
    --uncommon: rgb(112, 120, 131);
    
    
    /* Opaque colors */
    --mythic-o:   rgba(191, 68, 39, 0.8);
    --rare-o:     rgba(165, 142, 74, 0.8);
    --uncommon-o: rgba(112, 120, 131, 0.8);
}

    /* Mythic */
    .ui.button.rarityButton.mythic {
        background-color: var(--mythic);
    }

    .ui.button.rarityButton.mythic.basic {
        color: var(--mythic) !important;
        box-shadow: 0 0 0 1px var(--mythic) inset !important;
    }
    
    .ui.button.rarityButton.mythic:hover, .ui.button.rarityButton.mythic.basic:hover {
        background-color: var(--mythic-o) !important;
        color: var(--clr-txt) !important;
    }

    /* Rare */
    .ui.button.rarityButton.rare {
        background-color: var(--rare);
    }

    .ui.button.rarityButton.rare.basic {
        color: var(--rare) !important;
        box-shadow: 0 0 0 1px var(--rare) inset !important; 
    }

    .ui.button.rarityButton.rare:hover, .ui.button.rarityButton.rare.basic:hover {
        background-color: var(--rare-o) !important;
        color: var(--clr-txt) !important;
    }

    /* Uncommon */
    .ui.button.rarityButton.uncommon {
        background-color: var(--uncommon);
    }

    .ui.button.rarityButton.uncommon.basic {
        color:var(--uncommon) !important;
        box-shadow: 0 0 0 1px var(--uncommon) inset !important
    }

    .ui.button.rarityButton.uncommon:hover, .ui.button.rarityButton.uncommon.basic:hover {
        background-color: var(--uncommon-o) !important;
        color: var(--clr-txt) !important;
    }

    /* Common */
    .ui.button.rarityButton.common {
        background-color: var(--common);
        color: var(--clr-txt-inverse);
    }

    .ui.button.rarityButton.common.basic {
        color: var(--clr-txt) !important;
        box-shadow: 0 0 0 1px var(--common) inset !important;
    }

    .ui.button.rarityButton.common:hover, .ui.button.rarityButton.common.basic:hover {
        background-color: var(--common-o) !important;
        color: var(--clr-txt-inverse) !important;
    }

    /* All */
    .ui.button.rarityButton.all:hover, .ui.button.rarityButton.all.basic:hover {
        background-color: var(--primary) !important;
        color: var(--clr-txt) !important;
    }


/* Number-owned AND Rarity button divs */
.showList {
    padding-left: 1em;
    width: 100%;
}


/* Color checkboxes */
.colorIcon {
    width: 2em;
}

.big.colorIcon {
    width: 3.5em;
}

.colorList {
    padding-left: 1em;
    display: flex;
    flex-wrap: wrap;
}

.colorCheckbox {
    width: 4em;
    height: 3.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.colorBoxInput {
    display: none;
}

.colorIcon:hover {
    width: 3em;
}