.setDetailsOptions {
    padding: 3em;
    
}

.showButton {
    margin: 0 0 0 1em;
}

.showLabel {
    margin-right: 1em;
}

.rarityButton {
    margin: 0 0 0 1em;
}

.rarityLabel {
    margin-right: 1em;
}