.ui.center.aligned.header {
    color: var(--clr-txt);
}

.lineBreak {
    border: none;
    border-top: 1px solid var(--border-clr);
    margin: 2em auto;
    width: 93%;
}

#setDetailsSpacer {
    margin-top: 2rem;
}

.ui.center.aligned.header> img {
    width: 100%;
    filter: brightness(80%) contrast(1.1);
}

.darkMode .ui.center.aligned.header> img {
    filter: brightness(100%) contrast(1.0);
}