.ui.center.aligned.sub.header {
    margin: 8px 0;
}

.lineBreak {
    border: none;
    border-top: 1px solid var(--border-clr);
    margin: 2em auto;
    width: 93%;
}

#setDetailsSpacer {
    margin-top: 2rem;
}

.ui.center.aligned.header> img {
    width: 100%;
    filter: drop-shadow(1px 1px 0px black) ;
}
